node-red.json
[
    {
        "id": "93d4075ae8474d61",
        "type": "tab",
        "label": "Flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fceef176e337a5b4",
        "type": "http in",
        "z": "93d4075ae8474d61",
        "name": "",
        "url": "/mensagem",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 100,
        "wires": [
            [
                "6bfe9ad0790d7b8b"
            ]
        ]
    },
    {
        "id": "ce079e8bc6b4d2aa",
        "type": "http response",
        "z": "93d4075ae8474d61",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "application/json"
        },
        "x": 610,
        "y": 140,
        "wires": []
    },
    {
        "id": "6bfe9ad0790d7b8b",
        "type": "template",
        "z": "93d4075ae8474d61",
        "name": "Edite a mensagem aqui",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Edite aqui!",
        "output": "str",
        "x": 410,
        "y": 100,
        "wires": [
            [
                "ce079e8bc6b4d2aa",
                "c2e952f603eb3f94"
            ]
        ]
    },
    {
        "id": "c2e952f603eb3f94",
        "type": "debug",
        "z": "93d4075ae8474d61",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 60,
        "wires": []
    }
]
